@font-face {
    font-family: "Condensed";
    src: url("fonts/regular.ttf")
}
@font-face {
    font-family: "Condensed Medium";
    src: url("fonts/medium.ttf")
}

* {
    -webkit-tap-highlight-color: transparent;
    font-family: "Condensed";
    outline: none;
}

b {
    font-family: "Condensed Medium";
    font-weight: 400;
}

body {
    margin: 10px;
    background: #f2f2f2;
    text-align: center;
}

#clicks {
    font-family: "Condensed medium";
    font-size: 35px;
}
#clickbutton {
    width: 75px;
    font-family: "condensed medium";
    border-radius: 8px;
    border: solid;
    padding: 5px;
    background: #eee;
}
#clickbutton:active {
    background: #ddd;
}