@font-face {
    font-family: "Condensed";
    src: url("fonts/regular.ttf")
}
@font-face {
    font-family: "Condensed Medium";
    src: url("fonts/medium.ttf")
}

* {
    -webkit-tap-highlight-color: transparent;
    font-family: "Condensed";
    outline: none;
}

b {
    font-family: "Condensed Medium";
    font-weight: 400;
}

body {
    margin: 10px;
    background: #f2f2f2;
    text-align: center;
}
.gencount {
    font-family: "condensed medium";
}
#clicks {
    font-family: "Condensed medium";
    font-size: 35px;
}
.tabbutton {
    min-width: 75px;
    font-family: "condensed medium";
    border-radius: 8px;
    border: solid;
    padding: 5px;
    background: #eee;
}
.tabbutton:active {
    background: #ddd;
}
#buygbtn {
    width: 100px;
    font-family: "condensed medium";
    border-radius: 8px;
    border: solid;
    padding: 5px;
    background: #eee;
    
}
#buygbtn:active {
    background: #ddd;
}
.gen {
    margin-bottom: 5px;
}
.dialogtitle {
    font-size: 20px;
    font-family: "condensed medium";
}
#optionsdialog {
    width: auto;
    max-height: 400px;
    margin: 10px;
    border-radius: 15px;
    overflow: scroll;
}
#optionsdialog > div {
    min-height: 100px;
}